write-kubeconfig-mode: "0644"
token: "{{ rke2_key }}"
node-taint:
  - "CriticalAddonsOnly=true:NoExecute"
node-name: "{{ inventory_hostname }}"
#tls-san:
#  - "foo.local"
#node-label:
#  - "foo=bar"
#  - "something=amazing"
#debug: true